body {
    font-family: Helvetica, arial;
}

textarea {
    font-family: Helvetica, arial;
}

code { /* make `text` have a background colour */
    background-color: #eee
}

code::before { /* adds a bit of padding left of `text` */
    letter-spacing: -0.2em;
    content: "\00a0";
}

code::after { /* adds a bit of padding right of `text` */
    letter-spacing: -0.2em;
    content: "\00a0";
}

pre {
    background-color: #eee /* fills the entire ``` block with colour */
}

blockquote {
    padding-left: 15px;
    padding-right: 15px;
    color: #777;
    border-left: 4px solid #ddd;
}

table {
    border: none;
    border-collapse: collapse;
}
table td {
    border-left: 1px solid #000;
    padding-left: 3px;
    padding-right: 3px;
}
table td:first-child {
    border-left: none;
}

.inline_code { /* For the main commit title mainly */
    font-family: "Lucida Console", Monaco, monospace;
    color: #336677;
    background-color: #e8f0f8;
}



.PullRequestOverview_title {
    word-wrap: break-word;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.PullRequestOverview_status_bar {
    padding-bottom: 10px;
}

.PullRequestOverview_state {
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}

.PullRequestOverview_state_open {
    background-color: #6cc644;
}

.PullRequestOverview_state_merged {
    background-color: #6e5494;
}

.PullRequestOverview_state_closed {
    background-color: #bd2c00;
}



.CommentBox_textarea {
    line-height: 1.5em;
    min-height: 9em;
    width: 100%;
}

.CommentBox_preview {
    line-height: 1.5em;
    min-height: 9em;
    width: 100%;
}



.CommentView {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 64px;
}

.CommentView_avatar {
    height: 48px;
    width: 48px;
    float: left;
    margin-left: -64px;
}

.CommentView_header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.CommentView_body {
    padding-left: 15px;
}



.CommitView {
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-left: 64px;
    padding: 5px;
}

.CommitView_avatar {
    height: 2.5em;
    float: left;
    margin-left: -64px;
}

.CommitView_title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1em;
}

.CommitView_desc {
    font-size: smaller;
}

.CommitView_showButton {
    margin-left: 10px;
}

.CommitView_meta {
    color: #777777;
    height: 1em;
    padding-top: 0.5em;
}


.FileDiffView {
    border: 1px solid black;
    margin-top: 10px;
}

.FileDiffView_header {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.FileDiffView_header_status {
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}

.FileDiffView_header_status_added {
    background-color: #090
}

.FileDiffView_header_status_renamed {
    background-color: #ddd
}

.FileDiffView_header_status_modified {
    background-color: #000
}

.FileDiffView_header_status_removed {
    background-color: #900
}

.FileDiffView_header_path {

}

.FileDiffView_header_counts {
    float: right;
}

.FileDiffView_show_hide_button {
    margin-left: 10px;
}

.FileDiffView_counts_additions {
    padding: 3px;
    margin-right: 5px;
    background-color: #dfd
}

.FileDiffView_counts_deletions {
    padding: 3px;
    margin-right: 5px;
    background-color: #fdd
}

.FileDiffView_counts_changes {
    padding: 3px;
    margin-right: 5px;
    background-color: #ddd
}


.PatchView {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    white-space: pre;
}


.Patch_type_add {
    background-color: #eaffea
}

.Patch_type_del {
    background-color: #ffecec
}

.Patch_type_hunk {
    color: #aaa;
}


.Patch_table {
    table-layout: fixed;
    width: 100%;
}

.Patch_table_left {
    display: block;
    overflow-x: auto;
}

.Patch_table_right {
    display: block;
    overflow-x: auto;
}
