body {
    font-family: Helvetica, arial;
}

textarea {
    font-family: Helvetica, arial;
}

code {
    background-color: rgba(0,0,0,0.04)
}

.inline_code {
    font-family: "Lucida Console", Monaco, monospace;
    color: #336677;
    background-color: #e8f0f8;
}

.PullRequestOverview_title {
    word-wrap: break-word;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.PullRequestOverview_status_bar {
    padding-bottom: 10px;
}

.PullRequestOverview_state {
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}

.PullRequestOverview_state_open {
    background-color: #6cc644;
}

.PullRequestOverview_state_merged {
    background-color: #6e5494;
}

.PullRequestOverview_state_closed {
    background-color: #bd2c00;
}

.CommentBox_textarea {
    line-height: 1.5em;
    min-height: 9em;
    width: 100%;
}

.CommentBox_preview {
    line-height: 1.5em;
    min-height: 9em;
    width: 100%;
}

.CommentView {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 64px;
}

.CommentView_avatar {
    height: 48px;
    width: 48px;
    float: left;
    margin-left: -64px;
}

.CommentView_header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.CommentView_body {
    padding-left: 15px;
}