body {
    font-family: Helvetica, arial;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-top: 0px;
}

textarea {
    font-family: Helvetica, arial;
    border-color: #a9a9a9
}

code { /* make `text` have a background colour */
    background-color: #eee
}

code::before { /* adds a bit of padding left of `text` */
    letter-spacing: -0.2em;
    content: "\00a0";
}

code::after { /* adds a bit of padding right of `text` */
    letter-spacing: -0.2em;
    content: "\00a0";
}

pre {
    background-color: #eee /* fills the entire ``` block with colour */
}

blockquote {
    padding-left: 15px;
    padding-right: 15px;
    color: #777;
    border-left: 4px solid #ddd;
}

table {
    border: none;
    border-collapse: collapse;
}
table td {
    border-left: 1px solid #a9a9a9;
    padding-left: 3px;
    padding-right: 3px;
}
table td:first-child {
    border-left: none;
}

.inline_code { /* For the main commit title mainly */
    font-family: "Lucida Console", Monaco, monospace;
    color: #336677;
    background-color: #e8f0f8;
}



.LoginButton {
    background-color: #6cc644;
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}



.GprHeader {
    background-color: #eee;
    border-bottom: 1px solid #a9a9a9;
}

.GprHeader_title {
    color: #000;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.GprHeader_back {
    color: #fff;
    font-weight: bold;
    float: left;
    padding: 5px;
    margin-top: 6px;
}



.PullRequestOverview_title {
    word-wrap: break-word;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.PullRequestOverview_status_bar {
    padding-bottom: 10px;
}

.PullRequestOverview_state {
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}

.PullRequestOverview_state_open {
    background-color: #6cc644;
}

.PullRequestOverview_state_merged {
    background-color: #6e5494;
}

.PullRequestOverview_state_closed {
    background-color: #bd2c00;
}

.MergeButton_mergable {
    background-color: #6cc644;
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.MergeButton_merging {
    background-color: #ccc;
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    cursor: progress;
}

.MergeButton_disabled {
    background-color: #ccc;
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
}

.MergeButton_error {
    background-color: #000;
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.CloseButton {
    background-color: #bd2c00;
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.OpenButton {
    background-color: #6cc644;
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.MergeOptionContainer {
    margin-top: 1em;
    line-height: 1.8;
}


.CommentBox {
    margin: 15px;
}

.CommentBox_textarea {
    line-height: 1.5em;
    min-height: 9em;
    width: 100%;
    background-color: #fafafa;
    font-family: Helvetica, arial;
    padding: 5px;
}

.CommentBox_textarea:focus {
    background-color: #fff;
}

.CommentBox_preview {
    line-height: 1.5em;
    min-height: 9em;
    width: 100%;
    white-space: normal;
    font-family: Helvetica, arial;
    border: 1px dashed #a9a9a9;
    padding: 5px;
}

.CommentBox_button {
    cursor: pointer;
    padding: 0.3em;
}

.CommentBox_button_submit {
    background-color: #6cc644;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}

.CommentBox_tab {
    background-color: rgba(0,0,0,0);
    border: none;
}

.CommentBox_tab_selected {
    background-color: rgba(250,250,250,1);
    border-bottom: none;
    border-left: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
    border-top: 1px solid #a9a9a9;
}



.CommentView {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 64px;
    font-family: Helvetica, arial;
    white-space: normal;
    background-color: #fff;
}

.CommentView_avatar {
    height: 48px;
    width: 48px;
    float: left;
    margin-left: -64px;
}

.CommentView_header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 25px;
}

.CommentView_body {
    padding-left: 15px;
    background-color: #fff;
}

.CommentView_commitToggle {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #ddd;
    border-radius: 4px;
}

.CommentView_anchorLink {
    height: 1em;
    width: auto;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}



.CommitView {
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-left: 64px;
    padding: 5px;
}

.CommitView_avatar {
    height: 2.5em;
    float: left;
    margin-left: -64px;
}

.CommitView_title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1em;
}

.CommitView_desc {
    font-size: smaller;
}

.CommitView_showButton {
    margin-left: 10px;
}

.CommitView_meta {
    color: #777777;
    height: 1em;
    padding-top: 0.5em;
}


.FileDiffView {
    border: 1px solid #a9a9a9;
    margin-top: 10px;
}

.FileDiffView_header {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.FileDiffView_header_status {
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}

.FileDiffView_header_status_added {
    background-color: #090
}

.FileDiffView_header_status_renamed {
    background-color: #ddd
}

.FileDiffView_header_status_modified {
    background-color: #000
}

.FileDiffView_header_status_removed {
    background-color: #900
}

.FileDiffView_header_path {

}

.FileDiffView_header_select_commit {
    margin-right: 5px;
}

.FileDiffView_header_counts {
    float: right;
}

.FileDiffView_show_hide_button {
    margin-left: 10px;
}

.FileDiffView_counts_additions {
    padding: 3px;
    margin-right: 5px;
    background-color: #dfd
}

.FileDiffView_counts_deletions {
    padding: 3px;
    margin-right: 5px;
    background-color: #fdd
}

.FileDiffView_counts_changes {
    padding: 3px;
    margin-right: 5px;
    background-color: #ddd
}

.FileDiffView_counts_comments {
    padding: 3px;
    margin-right: 5px;
}


.PatchView {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    white-space: pre;
    font-size: 12px;
}

.PatchView_line_num {
    cursor: pointer;
    min-width: 50px;
    width: 2%;
    white-space: nowrap;
    color: #888;
    text-align: right;
    vertical-align: top; /* for overflowing multi lines */
}

.PatchView_line_content {
    word-wrap: break-word;
    vertical-align: top;
}

.PatchView_highlight_del {
    background-color: #f8cbcb
}

.PatchView_highlight_add {
    background-color: #a6f3a6
}

.PatchView_type_add {
    background-color: #eaffea
}

.PatchView_type_del {
    background-color: #ffecec
}

.PatchView_type_nop {
    background-color: #fff
}

.PatchView_type_hunk {
    color: #aaa;
    background-color: #fff
}

.PatchView_table {
    width: 100%;
    background-color: #fafafa;
    table-layout: fixed;
}




.CommentDiffListView {
    border: 1px solid #a9a9a9;
    margin: 10px;
}



.PullRequestPage_link {
    padding: 10px;
}




.ActionsPage_action {
    background-color: #f9f9f9;
    border: 1px solid #a9a9a9;
    margin-top: 15px;
}

.ActionsPage_action_header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ActionsPage_action_filepath {
    margin-right: 10px;
}


.forkribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
